body {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    height: 120px;
    background-color: rgb(145, 143, 143);
    color: rgb(167, 204, 235);
    border-bottom: 2px white solid;
    margin-top: -25px;
    padding-top: 20px;
}

.container {
    height: auto;
    width: auto;
    margin-bottom: 0px;
}

.container h3 {
    text-align: center;
    color: rgb(108, 89, 89)
}

footer {
    padding: 0px;
    margin: 0px;
}

.footer {
    height: 65px;
    text-align: center;
    background-color: aliceblue;
    border-top: 2px antiquewhite solid;
}