body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

.table {
    width: 400px;
    margin-left: 60px;
}

tr {
    padding-right: 20px;

}

a:hover {
   text-decoration: none; 
}

h3 {
    text-align: right;
    padding-right: 10px;
    color: gray;
}

#cart-display {
    border: 1px solid whitesmoke;
    height: 250px;
    width: 400px;
    margin-left: 60px;
    background-color: aliceblue;
}